@charset "UTF-8";
*{box-sizing: border-box;}
html,body{margin: 0;}
div,section,header,footer,nav{display:block;float:left;width:100%;position:relative;}
/*--------------------------*/
#toparea {
    background-color: #F2E3C6;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    position: absolute;
    height:100%
}
.image_part{
    background-image:url("../img/magicdonuts.png");
    height:480px;
    width: 725px;
}
.text_part{
    width: 50%;
    padding: 0 0 5px 20px;
    font-family: sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
}
.text_part h1{
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    letter-spacing: -2px;
}
.text_part p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.sidenav{
    height: 100%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2b2b2b;
    overflow-x: hidden;
    padding: 5px;
    float: right;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    border-radius: 20px;
}
#rightNav {
    float:right;
    margin:10px;
    padding:30px;
    position: absolute;
}
.sidenav a{
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #FFC6A5;
    display: block;
}
